<%- include('partials/header') %>

<main class="access-point">
    <form action="/login" method="post">
        <p class="form-title">Log In</p>

        <% if(error) { %>
            <p class="error"><%= message %></p>
        <% } %>

        <label for="">Email Address</label>
        <input type="email" name="email" id="" value="<%= user.email %>" required>
        <label for="">Password</label>
        <input type="password" name="password" id="" value="<%= user.password %>" required minlength="8">
        <input type="submit" value="Log In">
        <p>Don't have an account? <a href="/signup">Create One</a></p>
        <a href="/business/login">Log In as a Business</a>
    </form>
</main>

<!-- <%- include('partials/footer') %> -->