<%- include('partials/header') %>

<main id="reviewer-profile">
    <div><img src="/uploads/<%= profile.photoURL %>" alt=""></div>

    <table>
        <tbody>
            <tr>
                <td class="data-point">Name</td>
                <td><%= profile.name %></td>
            </tr>
            <tr>
                <td class="data-point">Email</td>
                <td><%= profile.email %></td>
            </tr>
            <tr>
                <td class="data-point">Phone Number</td>
                <td><%= profile.phoneNumber %></td>
            </tr>
            <tr>
                <td class="data-point">Location</td>
                <td><%= profile.location %></td>
            </tr>
            <tr>
                <td class="data-point">Facebook</td>
                <td><a href="<%= profile.facebookURL %>"><%= profile.facebookURL %></a></td>
            </tr>
            <tr>
                <td class="data-point">Twitter</td>
                <td><a href="<%= profile.twitterURL %>"><%= profile.twitterURL %></a></td>
            </tr>
            <tr>
                <td class="data-point">Instagram</td>
                <td><a href="<%= profile.instagramURL %>"><%= profile.instagramURL %></a></td>
            </tr>
        </tbody>
    </table>
    <a href="/edit-profile/<%= profile.id %>">Edit Profile</a>
</main>

<%- include('partials/footer') %>